

/*           Responsive Layout  : max width:1024px        */

@media all and (max-width:1024px){
    html{
        width: 1024px;
    }
    body{width: 1024px;}

    .hero{
        max-height: 58.5vh;
    }

    .hobbies .hobbies-list{
        flex-direction: row;
    }

    .section .hobbies-list .gaming, .coding, .gym {
        padding: 4.8rem ;
        min-width: 50% ;
        font-size: 32px;
    }

    .education .education-list{
        flex-direction: column;
    }

    .skills .skills-list{
        flex-direction: column;
    }

    .section .img-section{
        min-width: 80%;  
        height: auto; 
        padding-left: 3.0rem;
        margin: 0px auto;
        align-self: flex-start;
    }

   
    .section .about .details{
        padding-top: 0rem;
        font-size: 23px;
    }
    
    .hobbies{
        max-width: 900px;
    }

    .education{
        max-width: 900px;
        margin: 4rem auto auto auto;
    }

    .education .education-list{

        flex-direction: column;
        padding: 1.8rem;
        text-align: center;
    }

    .section  .education-list .primary-education,.secondary-education,.university-education{
        font-size: 35px;
    }

    .section .education-list .institute-details{
        font-size: 23px;
    }

    .section .education-list .span{
        font-size: 20px;
    }

    .skills{
        max-width: 900px;
    }

    .skills .skills-list{
        flex-direction: column;
    }

    .skills .last{
        padding-bottom: 24px;
    }

    .section  .skills-list .skills-1,.skills-2,.skills-3{
        padding: 4.5rem ;
        min-width: 70% ;
        font-size: 32px ;
    }

    .section  .skills-list i{
        font-size: 35px;
    }

    .section  .skills-list small{
        font-size: 24px;
    }

    .resume{
        max-width: 600px;
    }

    .resume .resume-continer h2{
        font-size: 150px;
    }

    .resume .resume-continer p{
        font-size: 32px;
    }

    .projects , .blogs ,.form{
        max-width: 600px;
    }

    .projects .projects-continer a{
        font-size: 28px;
    }

    .projects .projects-continer .project-link{
        margin-top: 10px;
    }

    .blogs .blogs-continer a{
        font-size: 28px;
    }

    .blogs .blogs-continer .project-link{
        margin-top: 10px;
    }

    .form-container .submit {
        font-size: 25px;
    }

    input,textarea{
        width: 95%;
    }

    .footer .copyright{
        font-size: 28px;
    }
}


/*           Responsive Layout  : max width:768px        */


@media all and (max-width:768px){

    body{
        width: 769px;
        max-width: 100%;
    }
    html{
        width: 769px;
        max-width: 100%;
    }

    .navigation .nav-brand {
        font-weight: bold;
        margin: auto;
    }

    .hobbies .hobbies-list{
        flex-direction: column;
    }

    .section .hobbies-list .gaming, .coding{
        padding: 6.7rem ;
        min-width: 50% ;
        font-size: 32px;
    }

    .section .hobbies-list .gym{
        padding: 7.88rem;
    }

    .education .education-list{
        flex-direction: column;
    }

    .skills .skills-list{
        flex-direction: column;
    }

    .navigation{
        flex-direction: column;
        font-size: 24px;
    }

    .navigation .nav-pills{
        padding-top: 13px;
    }

    .hero{
        flex-direction: column;
        max-height: 49vh;
    }

    .hero .hero-heading{
        padding-top: 1.5rem;
    }

    .hero .hero-img {
       display: none;
    }

    .section .about{
         flex-direction: column-reverse;
    }

    .section .img-section{
        min-width: 30%;   
        padding-left: 0px;
        margin: auto;
    }

    .section .img-section img{
        border-radius: 50%;
    }
   
    .section .about .details{
        padding-top: 0.5rem;
        font-size: 23px;
    }
    
    .hobbies{
        max-width: 600px;
    }

    .hobbies .hobbies-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.9rem;
    }

    .section  .hobbies-list .gaming{
        padding: 6.29rem;
    }

    section .hobbies h1{
        font-size: 27px;
    }

    .education{
        max-width: 600px;
        margin: 4rem auto auto auto;
    }

    .education .education-list{

        flex-direction: column;
        padding: 1.8rem;
        text-align: center;
    }

    .section  .education-list .primary-education,.secondary-education,.university-education{
        font-size: 35px;
    }

    .section .education-list .institute-details{
        font-size: 23px;
    }

    .section .education-list .span{
        font-size: 20px;
    }

    .skills{
        max-width: 600px;
    }

    .skills .skills-list{
        flex-direction: column;
    }

    .skills .last{
        padding-bottom: 24px;
    }

    .section  .skills-list .skills-1,.skills-2,.skills-3{
        padding: 4.5rem;
        min-width: 70%;
        font-size: 32px;
    }

    .section  .skills-list i{
        font-size: 35px;
    }

    .section  .skills-list small{
        font-size: 24px;
    }

    .resume{
        max-width: 600px;
    }

    .resume .resume-continer h2{
        font-size: 150px;
    }

    .resume .resume-continer p{
        font-size: 32px;
    }

    .projects , .blogs ,.form{
        max-width: 600px;
    }

    .projects .projects-continer a{
        font-size: 28px;
    }

    .projects .projects-continer .project-link{
        margin-top: 10px;
    }

    .blogs .blogs-continer a{
        font-size: 28px;
    }

    .blogs .blogs-continer .project-link{
        margin-top: 10px;
    }

    .form-container .submit {
        font-size: 25px;
    }

    input,textarea{
        width: 95%;
    }

    .footer .copyright{
        font-size: 24px;
    }
}


/*           Responsive Layout  : max width:543px        */



@media all and (max-width:612px){

    body{
        width: 612px;
        max-width: 100%;
    }
    html{
        width: 612px;
        max-width: 100%;
    }

    .navigation{
        flex-direction: column;
        font-size: 24px;
    }

    .navigation .nav-brand {
        font-weight: bold;
        margin: auto;
    }

    .navigation .nav-pills{
        padding-top: 13px;
        font-size: 18px;
    }

    .hobbies .hobbies-list{
        flex-direction: column;
    }

    .section .hobbies-list .gaming, .coding{
        padding: 6.7rem ;
        min-width: 50% ;
        font-size: 32px;
    }

    .section .hobbies-list .gym{
        padding: 7.88rem;
    }

    .education .education-list{
        flex-direction: column;
    }

    .skills .skills-list{
        flex-direction: column;
    }

   .hero{
        flex-direction: column;
        max-height: 49vh;
    }

    .hero .hero-heading{
        padding-top: 1.5rem;
    }

    .hero .hero-img {
        display: none;
    }

    .section .about{
         flex-direction: column-reverse;
    }

    .section .img-section{
        min-width: 30%;   
        padding-left: 0px;
        margin: auto;
    }

    .section .img-section img{
        border-radius: 50%;
    }
   
    .section .about .details{
        padding-top: 0.5rem;
        font-size: 23px;
    }
    
    .hobbies{
        max-width: 450px;
    }

    .hobbies .hobbies-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.9rem;
    }

    .section  .hobbies-list .gaming{
        padding: 6.29rem;
    }

    section .hobbies h1{
        font-size: 27px;
    }

    .education{
        max-width: 450px;
        margin: 4rem auto auto auto;
    }

    .education .education-list{

        flex-direction: column;
        padding: 1.8rem;
        text-align: center;
    }

    .section  .education-list .primary-education,.secondary-education,.university-education{
        font-size: 35px;
    }

    .section .education-list .institute-details{
        font-size: 23px;
    }

    .section .education-list .span{
        font-size: 20px;
    }

    .skills{
        max-width: 450px;
    }

    .skills .skills-list{
        flex-direction: column;
    }

    .skills .last{
        padding-bottom: 24px;
    }

    .section  .skills-list .skills-1,.skills-2,.skills-3{
        padding: 4.5rem;
        min-width: 100%;
        font-size: 32px;
    }

    .section  .skills-list i{
        font-size: 35px;
    }

    .section  .skills-list small{
        font-size: 24px;
    }

    .resume{
        max-width: 450px;
    }

    .resume .resume-continer h2{
        font-size: 150px;
    }

    .resume .resume-continer p{
        font-size: 32px;
    }

    .projects , .blogs ,.form{
        max-width: 450px;
    }

    .projects .projects-continer .project-image {
        width: 370px;
    }

    .projects .projects-continer a{
        font-size: 28px;
    }

    .projects .projects-continer .project-link{
        margin-top: 10px;
    }

    .blogs .blogs-continer a{
        font-size: 28px;
    }

    .blogs .blogs-continer .blog-image {
        width: 370px;
    }

    .blogs .blogs-continer .project-link{
        margin-top: 10px;
    }

    .form-container .submit {
        font-size: 25px;
    }

    input,textarea{
        width: 95%;
    }

    .footer .copyright{
        font-size: 18px;
    }
}

/* @media all and (max-width:523px){

    body{
        width: 523px;
        max-width: 100%;
    }
    html{
        width: 523px;
        max-width: 100%;
    }

    .navigation{
        flex-direction: column;
        font-size: 24px;
    }

    .navigation .nav-brand {
        font-weight: bold;
        margin: auto;
    }

    .navigation .nav-pills{
        padding-top: 13px;
        font-size: 18px;
    }

    .hobbies .hobbies-list{
        flex-direction: column;
    }

    .section .hobbies-list .gaming, .coding{
        padding: 6.7rem ;
        min-width: 50% ;
        font-size: 32px;
    }

    .section .hobbies-list .gym{
        padding: 7.88rem;
    }

    .education .education-list{
        flex-direction: column;
    }

    .skills .skills-list{
        flex-direction: column;
    }

   .hero{
        flex-direction: column;
        max-height: 49vh;
    }

    .hero .hero-heading{
        padding-top: 1.5rem;
    }

    .hero .hero-img {
        max-width: 460px;
        display: block;
        margin: auto;
        padding-top: 1rem;
    }

    .section .about{
         flex-direction: column-reverse;
    }

    .section .img-section{
        min-width: 30%;   
        padding-left: 0px;
        margin: auto;
    }

    .section .img-section img{
        border-radius: 50%;
    }
   
    .section .about .details{
        padding-top: 0.5rem;
        font-size: 23px;
    }
    
    .hobbies{
        max-width: 450px;
    }

    .hobbies .hobbies-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.9rem;
    }

    .section  .hobbies-list .gaming{
        padding: 6.29rem;
    }

    section .hobbies h1{
        font-size: 27px;
    }

    .education{
        max-width: 450px;
        margin: 4rem auto auto auto;
    }

    .education .education-list{

        flex-direction: column;
        padding: 1.8rem;
        text-align: center;
    }

    .section  .education-list .primary-education,.secondary-education,.university-education{
        font-size: 35px;
    }

    .section .education-list .institute-details{
        font-size: 23px;
    }

    .section .education-list .span{
        font-size: 20px;
    }

    .skills{
        max-width: 450px;
    }

    .skills .skills-list{
        flex-direction: column;
    }

    .skills .last{
        padding-bottom: 24px;
    }

    .section  .skills-list .skills-1,.skills-2,.skills-3{
        padding: 4.5rem;
        min-width: 100%;
        font-size: 32px;
    }

    .section  .skills-list i{
        font-size: 35px;
    }

    .section  .skills-list small{
        font-size: 24px;
    }

    .resume{
        max-width: 450px;
    }

    .resume .resume-continer h2{
        font-size: 150px;
    }

    .resume .resume-continer p{
        font-size: 32px;
    }

    .projects , .blogs ,.form{
        max-width: 450px;
    }

    .projects .projects-continer .project-image {
        width: 370px;
    }

    .projects .projects-continer a{
        font-size: 28px;
    }

    .projects .projects-continer .project-link{
        margin-top: 10px;
    }

    .blogs .blogs-continer a{
        font-size: 28px;
    }

    .blogs .blogs-continer .blog-image {
        width: 370px;
    }

    .blogs .blogs-continer .project-link{
        margin-top: 10px;
    }

    .form-container .submit {
        font-size: 25px;
    }

    input,textarea{
        width: 95%;
    }

    .footer .copyright{
        font-size: 18px;
    }
} */

@media all and (max-width:512px){

    body{
        width: 512px;
        max-width: 100%;
    }
    html{
        width: 512px;
        max-width: 100%;
    }

    .navigation{
        flex-direction: column;
        font-size: 24px;
    }

    .navigation .nav-brand {
        font-weight: bold;
        margin: auto;
    }

    .navigation .nav-pills{
        padding-top: 10px;
        font-size: 18px;
    }

    .hobbies .hobbies-list{
        flex-direction: column;
    }

    .section .hobbies-list .gaming, .coding{
        padding: 6.7rem ;
        min-width: 50% ;
        font-size: 32px;
    }

    .section .hobbies-list .gym{
        padding: 7.88rem;
    }

    .education .education-list{
        flex-direction: column;
    }

    .skills .skills-list{
        flex-direction: column;
    }

   .hero{
        flex-direction: column;
        max-height: 41.9vh;
    }

    .hero .hero-heading{
        padding-top: 1.5rem;
        font-size: 2.4rem;
    }


    .section .about{
         flex-direction: column-reverse;
    }

    .section .about .about-info {
        text-align: justify;
        margin: 0px;
        min-width: 381px;
        font-family: 'Lora', serif;
    }

    .section .img-section{
        min-width: 30%;   
        padding-left: 0px;
        margin: auto;
    }

    .section .img-section img{
        border-radius: 50%;
    }
   
    .section .about .details{
        padding-top: 0.5rem;
        font-size: 23px;
    }
    
    .hobbies{
        max-width: 100%;
    }

    .hobbies .hobbies-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.9rem;
    }

    .section  .hobbies-list .gaming{
        padding: 6.29rem;
    }

    section .hobbies h1{
        font-size: 27px;
    }

    .education{
        max-width: 100%;
        margin: 4rem auto auto auto;
    }

    .education .education-list{

        flex-direction: column;
        padding: 1.8rem;
        text-align: center;
    }

    .section  .education-list .primary-education,.secondary-education,.university-education{
        font-size: 35px;
    }

    .section .education-list .institute-details{
        font-size: 23px;
    }

    .section .education-list .span{
        font-size: 20px;
    }

    .skills{
        max-width: 100%;
    }

    .skills .skills-list{
        flex-direction: column;
    }

    .skills .last{
        padding-bottom: 24px;
    }

    .section  .skills-list .skills-1,.skills-2,.skills-3{
        padding: 4.5rem;
        min-width: 100%;
        font-size: 32px;
    }

    .section  .skills-list i{
        font-size: 35px;
    }

    .section  .skills-list small{
        font-size: 24px;
    }

    .resume{
        max-width: 100%;
    }

    .resume .resume-continer h2{
        font-size: 150px;
    }

    .resume .resume-continer p{
        font-size: 32px;
    }

    .projects , .blogs ,.form{
        max-width: 100%;
    }

    .projects .projects-continer .project-image {
        width: 370px;
    }

    .projects .projects-continer a{
        font-size: 28px;
    }

    .projects .projects-continer .project-link{
        margin-top: 10px;
    }

    .blogs .blogs-continer a{
        font-size: 28px;
    }

    .blogs .blogs-continer .blog-image {
        width: 370px;
    }

    .blogs .blogs-continer .project-link{
        margin-top: 10px;
    }

    .form-container .submit {
        font-size: 25px;
    }

    input,textarea{
        width: 95%;
    }

    .footer .copyright{
        font-size: 18px;
    }
}



@media all and (max-width:430px){

    body{
        width: 430px;
        max-width: 100%;
    }
    html{
        width: 430px;
        max-width: 100%;
    }

    .navigation{
        flex-direction: column;
        font-size: 20px;
    }

    .navigation .nav-brand {
        font-weight: bold;
        margin: auto;
    }

    .link{
        padding: 0.5rem 0.5rem;
    }

    .navigation .nav-pills{
        padding-top: 10px;
        font-size: 17px;
    }

    .hobbies .hobbies-list{
        flex-direction: column;
    }

    .section .hobbies-list .gaming, .coding{
        padding: 6.7rem ;
        min-width: 50% ;
        font-size: 32px;
    }

    .section .hobbies-list .gym{
        padding: 7.88rem;
    }

    .education .education-list{
        flex-direction: column;
    }

    .skills .skills-list{
        flex-direction: column;
    }

   .hero{
        flex-direction: column;
        max-height: 41.9vh;
    }

    .hero .hero-heading{
        padding-top: 1.5rem;
        font-size: 2.4rem;
    }



    .section .about{
         flex-direction: column-reverse;
    }

    .section .about .about-info {
        text-align: justify;
        margin: 0px;
        min-width: 341px;
        font-family: 'Lora', serif;
    }

    .section .img-section{
        min-width: 30%;   
        padding-left: 0px;
        margin: auto;
    }

    .section .img-section img{
        border-radius: 50%;
    }
   
    .section .about .details{
        padding-top: 0.5rem;
        font-size: 23px;
    }
    
    .hobbies{
        max-width: 100%;
    }

    .hobbies .hobbies-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.9rem;
    }

    .section  .hobbies-list .gaming{
        padding: 6.29rem;
    }

    section .hobbies h1{
        font-size: 27px;
    }

    .education{
        max-width: 100%;
        margin: 4rem auto auto auto;
    }

    .education .education-list{

        flex-direction: column;
        padding: 1.8rem;
        text-align: center;
    }

    .section  .education-list .primary-education,.secondary-education,.university-education{
        font-size: 35px;
    }

    .section .education-list .institute-details{
        font-size: 23px;
    }

    .section .education-list .span{
        font-size: 20px;
    }

    .skills{
        max-width: 100%;
    }

    .skills .skills-list{
        flex-direction: column;
    }

    .skills .last{
        padding-bottom: 24px;
    }

    .section  .skills-list .skills-1,.skills-2,.skills-3{
        padding: 3rem;
        min-width: 100%;
        font-size: 25px;
    }

    .section  .skills-list i{
        font-size: 35px;
    }

    .section  .skills-list small{
        font-size: 24px;
    }

    .resume{
        max-width: 100%;
    }

    .resume .resume-continer h2{
        font-size: 150px;
    }

    .resume .resume-continer p{
        font-size: 32px;
    }

    .projects , .blogs ,.form{
        max-width: 100%;
    }

    .projects .projects-continer .project-image {
        width: 290px;
    }

    .projects .projects-continer a{
        font-size: 28px;
    }

    .projects .projects-continer .project-link{
        margin-top: 10px;
    }

    .blogs .blogs-continer a{
        font-size: 28px;
    }

    .blogs .blogs-continer .blog-image {
        width: 290px;
    }

    .blogs .blogs-continer .project-link{
        margin-top: 10px;
    }

    .form-container .submit {
        font-size: 25px;
    }

    input,textarea{
        width: 95%;
    }

    .footer .copyright{
        font-size: 18px;
    }
}



@media all and (max-width:392px){

    body{
        width: 392px;
        max-width: 100%;
    }
    html{
        width: 392px;
        max-width: 100%;
    }

    .navigation{
        flex-direction: column;
        font-size: 17px;
    }

    .navigation .nav-brand {
        font-weight: bold;
        margin: auto;
    }

    .link{
        padding: 0.5rem 0.5rem;
    }

    .navigation .nav-pills{
        padding-top: 10px;
        font-size: 14px;
    }

    .hobbies .hobbies-list{
        flex-direction: column;
    }

    .section .hobbies-list .gaming, .coding{
        padding: 6.7rem ;
        min-width: 50% ;
        font-size: 32px;
    }

    .section .hobbies-list .gym{
        padding: 7.88rem;
    }

    .education .education-list{
        flex-direction: column;
    }

    .skills .skills-list{
        flex-direction: column;
    }

   .hero{
        flex-direction: column;
        max-height: 41.9vh;
    }

    .hero .hero-heading{
        padding-top: 1.5rem;
        font-size: 2.4rem;
    }



    .section .about{
         flex-direction: column-reverse;
    }

    .section .about .about-info {
        text-align: center;
        margin: 0px;
        min-width: 314px;
        font-family: 'Lora', serif;
    }

    .section .img-section{
        min-width: 30%;   
        padding-left: 0px;
        margin: auto;
    }

    .section .img-section img{
        border-radius: 50%;
    }
   
    .section .about .details{
        padding-top: 0.5rem;
        font-size: 23px;
    }
    
    .section .about .basic-details{
        font-size: 19px;
    }
    .hobbies{
        max-width: 100%;
    }

    .hobbies .hobbies-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.9rem;
    }

    .section  .hobbies-list .gaming{
        padding: 6.29rem;
    }

    section .hobbies h1{
        font-size: 27px;
    }

    .education{
        max-width: 100%;
        margin: 4rem auto auto auto;
    }

    .education .education-list{

        flex-direction: column;
        padding: 1.8rem;
        text-align: center;
    }

    .section  .education-list .primary-education,.secondary-education,.university-education{
        font-size: 35px;
    }

    .section .education-list .institute-details{
        font-size: 23px;
    }

    .section .education-list .span{
        font-size: 20px;
    }

    .skills{
        max-width: 100%;
    }

    .skills .skills-list{
        flex-direction: column;
    }

    .skills .last{
        padding-bottom: 24px;
    }

    .section  .skills-list .skills-1,.skills-2,.skills-3{
        padding: 3rem;
        min-width: 100%;
        font-size: 25px;
    }

    .section  .skills-list i{
        font-size: 35px;
    }

    .section  .skills-list small{
        font-size: 24px;
    }

    .resume{
        max-width: 100%;
    }

    .resume .resume-continer h2{
        font-size: 150px;
    }

    .resume .resume-continer p{
        font-size: 32px;
    }

    .projects , .blogs ,.form{
        max-width: 100%;
    }

    .projects .projects-continer .project-image {
        width: 290px;
    }

    .projects .projects-continer a{
        font-size: 28px;
    }

    .projects .projects-continer .project-link{
        margin-top: 10px;
    }

    .blogs .blogs-continer a{
        font-size: 28px;
    }

    .blogs .blogs-continer .blog-image {
        width: 290px;
    }

    .blogs .blogs-continer .project-link{
        margin-top: 10px;
    }

    .form-container .submit {
        font-size: 25px;
    }

    input,textarea{
        width: 95%;
    }

    .footer .wrapper{
        flex-direction: column;
        justify-content: space-between;
    }

    /* .footer .wrapper .github,.linkedin,.instagram,.twitter{
        margin-top: 2rem;
    } */

    .footer .wrapper .tooltip{
        margin-top: 2rem;
    }
    .footer .wrapper span{
        margin-top: 2rem;
    }

    .footer .copyright{
        font-size: 18px;
    }
}


@media all and (max-width:360px){
    html{
        width: 360px;
    }
    body{
        width: 360px;
    }

    .section .about .about-info {
        min-width: 295px;
    }       
    .section h1{
        font-size: 30px;
    }
    section .education-list p {
        font-size: 26px;
    }
    section .education-list .institute-details{
        font-size: 18px;
    }
    .section .skills-list .skills-1, .skills-2, .skills-3{
        padding: 2rem;
    }
    .resume .resume-continer p {
        font-size: 29px;
    }
    .projects .projects-continer .project-image {
        width: 240px;
    }
    .blogs .blogs-continer .blog-image {
        width: 240px;
    }
}

@media all and (max-width:340px){
    html{
        width: 340px;
    }
    body{
        width: 340px;
    }
    .link{
        padding: 0.4rem 0.4rem;
    }
    .navigation .nav-pills{
        padding-top: 10px;
        font-size: 13px;
    }
    .hero{
        max-height: 38.89vh;
    }

    .section .about .about-info {
        min-width: 256px;
    }       
    .section .about .basic-details{
        margin-top: 4px;
    }
    .section h1{
        font-size: 25px;
    }
    section .education-list p {
        font-size: 20px;
    }
    section .education-list .institute-details{
        font-size: 15px;
    }
    .section .skills-list .skills-1, .skills-2, .skills-3{
        padding: 0.5rem;
        font-size: 20px;
    }
    .resume .resume-continer p {
        font-size: 25px;
    }
    .projects .projects-continer .project-image {
        width: 240px;
    }
    .blogs .blogs-continer .blog-image {
        width: 240px;
    }
    .projects .projects-continer a{
        min-width: 20%;
        padding: 1rem;
        font-size: 17px;
    }
    .blogs .blogs-continer a{
        min-width: 20%;
        border-radius: 1rem;
        font-size: 17px;
    }
    .form-container .submit{
        font-size: 17px;
    }
    .hobbies .hobbies-list{
        padding: 1rem;
    }
    .section  .hobbies-list .gaming,.coding,.gym{
        min-width: 50%;
        padding: 3.97rem;
        font-size: 18px;
    }
    .section .hobbies-list .gym{
        padding: 4.68rem;
    }
    .section .hobbies-list .gaming {
        padding: 3.6rem;
    }
    .footer .work-together h1 {
        font-size: 40px;
    }
}
