<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com -->
  <title>Quality Theorem</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/quality.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Playfair+Display+SC&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cantarell&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Castoro&display=swap" rel="stylesheet">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/home">Quality Theorem</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT US</a></li>
        <li><a href="#values">OUR MISSION</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#testimonial">TESTIMONIALS</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron qualityIntro text-center">
  <h1>Quality Theorem</h1> 
  <span class="quoteLine"><p> Delivering SmarlgSolutions With Time Tested And World Class Products.</p> </span>
</div>


<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <a href="#" id="history">Our History</a><br>
      <h4>Quality Theorem is a path breaker in the areas of Internet Of Things (IoT), Cloud Computing, Big Data, Embedded Programming and Data Analytics and, has positioned itself to be a go-to provider in the upcoming areas – M2M, Virtual Reality (VR), Augmented Reality (AR), Artificial Intelligence (AI), Robotics and Industry 4.0. We develop products containing the above technologies, which are deployed in many Smart Solutions such as Smart Water, Smart Waste, Smart Effluent, Smart Health, Smart Energy and other Smart Solutions.</h4><br>
      <h4>Our engagement with our customers are of varied nature based on the needs of the customer. We develop products required by them or we can take up an end-to-end project/ solution delivery. Also, we can provide professional/ consulting services for a specific need. We also offer technology training and mentoring services. These trainings can be online (remote) and onsite corporate training.</h4>
      
    </div>
    <div  class="  aboutImage col-lg-6">
      <img  src="https://specials-images.forbesimg.com/imageserve/5ecad30c780c1f0006453fd7/960x0.jpg?fit=scale" width="100%"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class=" glyp col-sm-4 text-center">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8 mission">
      <a href="#" id="values">Our Mission Our Vision</a><br>
      <h3 id="missionVision"><strong>MISSION : </strong> Quality Theorem is fully committed to deliver the best state of the art technology services of impeccable quality to our clients and help them maximize their ROI in a thoroughly professional manner; deploy the best possible resources – people, products and solutions as needed by the clients; for the employees, partners and vendors to be one of the best organizations to work for.</h4><br>
      <h3 id="missionVision"><strong>VISION  : </strong> To be one of the most sought after solution providers in the areas of Healthcare (especially, Preventative Healthcare), Water/ Waste/ Effluent management & Energy management (and, thus Preserve Environment) by employing Smart & Super Smart Technological advances (such as VR/ AR/ AI & Robotics) happening through this millennium</h4>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<!-- <div id="services" class="container-fluid text-center">
  <a href="/">SERVICES</a>
  
    <div class="r">
      <div class="c">
          <a href="/customer">
          <img src="../images/customer.jpg" alt="Customer" style="width:94%">
          </a>
      </div>
      <div class="c">
          <a href="/consultant">
          <img src="../images/consultant.jpg" alt="Consultant" style="width:96%">
          </a>
      </div>
      <div class="c">
          <a href="/employee">
          <img src="../images/employee.jpg" alt="Employee" style="width:100%">
          </a>
      </div>
    
    </div>
</div> -->

<div id="services" class="container-fluid text-center">
  <a href="/">SERVICES</a>
  
    <div class="row pt-5">
      <div class="col-sm-4">
          <a href="/customer">
          <img src="../images/customer.jpg" alt="Customer" style="width:94%">
          </a>
      </div>
      <div class="col-sm-4">
          <a href="/consultant">
          <img src="../images/consultant.jpg" alt="Consultant" style="width:96%">
          </a>
      </div>
      <div class="col-sm-4">
          <a href="/employee">
          <img src="../images/employee.jpg" alt="Employee" style="width:100%">
          </a>
      </div>
    
    </div>
</div>




<!-- <div class="crousel">  
  <a href="#" id="testimonial">TESTIMONIAL</a>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel"> -->
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <!-- <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4><br><span></span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span> Salesman, Rep Inc</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, </span></h4>
      </div>
    </div> -->

    <!-- Left and right controls -->
    <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>   -->
<!-- </div> -->

<section class="container-fluid testimonial" id="testimonial">
  <div class="container-fluid testContainer">
      <h2>Testimonials</h2>
      <p class="text-center">Our Aim Is to Serve the Nation</p>
     <div class="row">
        <div class="col-md-4 text-center">
           <div class="profile">
             <img src="../images/c1.jpg" alt="" class="user" style="width: 120px; height: 120px;">
             <blockquote>
              "This company is the best. I am so happy with the result!"
             </blockquote>
             <h3>Michael Roe, <br> <span class="text-center"><em>Vice President, Comment Box</em></span> </h3>
           </div>
        </div>
        <div class="col-md-4 text-center">
         <div class="profile">
           <img src="../images/c2.jpg" alt="" class="user">
           <blockquote>
            "One word... WOW!!" Such A Nice Working Team.""
           </blockquote>
           <h3>Michael Steven<br> <span class="text-center"><em>Salesman, Rep Inc</em></span> </h3>
         </div>
        </div>
        <div class="col-md-4 text-center">
       <div class="profile">
         <img src="../images/c1.jpg" alt="" class="user">
         <blockquote>
          Could I... BE any more happy with this company?""
         </blockquote>
         <h3>Chandler Bing,<br> <span class="text-center"><em>Actor, FriendsAlot</em></span> </h3>
       </div>
      </div>
     </div>
 </div>
  
   
</section>






<footer id="footer">
    <p>Copyright &copy 2020 QualityTheorem.com</p>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="../static/jquery.js"></script>


</body>
</html>