html 
  head 
    title Dance
    block scripts
    block style

  body 
    <nav id="navbar">
       <ul>
            <div class="logo"><img src="../static/l1.png" alt="" class="src">MM</div>
            <li><a href="/">Home</a></li>
            <li><a href="/">About-Us</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Contact-Us</a></li>
       </ul>
    </nav>
    block content    
    <footer id="footer">
        |  Copyright &copy 2020 Matrimonial.com
    </footer>
         
